<!DOCTYPE html>
<html>
  <head>
    <title><%= userid %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= username %> , <%= userid %>  </h1>
    <p>Welcome to Tamkang University</p>
  </body>
</html>
